/* Cursor vars if you wanna use css over css in js */

:root {
  --pad-sm: 2em;
  --pad-md: 4em;
  --pad-lg: 6em;
  --font-main: "Work Sans", sans-serif;
  --font-mono: "IBM Plex Mono", "Monaco", monospace;
  --body-bg-color: #312626;
  --body-bg-color-donut: #120c10;
  --body-bg-color-blend: rgb(9, 9, 9);
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  background-color: var(--body-bg-color);
  color: #fff;
  font-family:  var(--font-main);
  animation: fade-in 0.3s 0.1s ease both;
}

body.donut {
  background-color: var(--body-bg-color-donut);
}

body.blend {
  background-color: var(--body-bg-color-blend);
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* #blend-cursor {
  mix-blend-mode: exclusion;
} */

/* html,
body {
  cursor: none;
} */

/*
#cursor-inner,
#cursor-outer {
 pointer-events: none;
  position: fixed;
  border-radius: 50%;
  opacity: 0;
  transform: translate(-50%, -50%);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out; 
}
*/


/* Demo Content */
a {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  transition: 0.5s ease;
}

p a {
  border-bottom: 1px solid rgba(255, 255, 255, 0.7);
}

p a:hover {
  color: rgba(255, 255, 255, 0.5);
  border-bottom-color: rgba(255, 255, 255, 1);
}

.section {
  width: 80%;
  max-width: 32em;
  margin: 0 auto 1em;
  padding: 4em 0;
  line-height: 1.7;
  font-weight: 300;
}

.page-title {
  margin-bottom: 0.25em;
  font-size: 2.5em;
  font-weight: 800;
  line-height: 1.4;
}

h3 {
  margin: 2em 0 1.5em;
}

ul {
  margin: 2em 0;
  padding-left: 1em;
}

ul li {
  padding-bottom: 1.5em;
  padding-left: 0;
}

.app-nav a.is-active {
  color: #aaa;
}

.app-header {
  z-index: 9;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 1em;
  background-color: $color-grey-dark;
}

.app-header__grid {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.app-header__brand {
  color: #fff;
  font-size: 0.6em;
  font-family: var(--font-mono);
  letter-spacing: 0.1em;
  text-transform: uppercase;
  cursor: pointer;
}

.app-header__icon .icon-github {
  height: 1.5em;
}

.app-header__icon .icon-github path {
  fill: var(--color-alpha, #fff);
}

.app-footer{
  padding: var(--pad-sm) 0;
  text-align: center;
  color: $color-white;
  border-top: 1px solid rgba(255,255,255,0.1);
}

.app-footer__icon {
  display: block;
  margin-bottom: 1em;
  font-size: 1em;
  font-style: normal;
}

.app-footer__text {
  margin-bottom: 0;
  font-family: var(--font-mono);
  letter-spacing: 0.1em;
  font-size: 0.65em;
  text-transform: uppercase;
}
